In [1]:
#Import necessory libraries
import selenium
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

1. Scrape the details of most viewed videos on YouTube from Wikipedia:

   Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
   
   You need to find following details:   
   A) Rank   
   B) Name   
   C) Artist   
   D) Upload date   
   E) Views

In [20]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
#get the web page with given url
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(3)
#Lets fetch required data
rank = []
name = []
views = []
artist = []
upload_date = []
#lets fetch the rank
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]")[:30]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
#fetching video names
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]"):
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
#fetching views
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")[:30]:
        views.append(i.text)
except NoSuchElementException:
    views.append('-')
#fetching artist name
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")[:30]:
        artist.append(i.text)
except NoSuchElementException:        
    artist.append('-')
#fetching upload dates
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]"):
        upload_date.append(i.text)
except NoSuchElementException:        
    upload_date.append('-')
    
#lets create dataframe
data = list(zip(rank,name,views,artist,upload_date))
df = pd.DataFrame(data, columns = ["Rank", "Video Title", "Views (Billions)", "Artist Name", "Upload Date"])
df

,Rank,Video Title,Views (Billions),Artist Name,Upload Date
0,1.,"""Baby Shark Dance""[22]",9.02,Pinkfong Kids' Songs & Stories,"June 17, 2016"
1,2.,"""Despacito""[24]",7.46,Luis Fonsi,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",5.58,LooLoo Kids,"October 8, 2016"
3,4.,"""Shape of You""[26]",5.40,Ed Sheeran,"January 30, 2017"
4,5.,"""See You Again""[27]",5.19,Wiz Khalifa,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",4.45,Get Movies,"January 31, 2012"
6,7.,"""Bath Song""[31]",4.37,Cocomelon – Nursery Rhymes,"May 2, 2018"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",4.31,Miroshka TV,"February 27, 2018"
8,9.,"""Uptown Funk""[33]",4.24,Mark Ronson,"November 19, 2014"
9,10.,"""Gangnam Style""[34]",4.13,Psy,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",4.02,ChuChu TV,"March 6, 2014"
11,12.,"""Sugar""[37]",3.51,Maroon 5,"January 14, 2015"
12,13.,"""Dame Tu Cosita""[38]",3.48,El Chombo,"April 5, 2018"
13,14.,"""Sorry""[39]",3.45,Justin Bieber,"October 22, 2015"
14,15.,"""Roar""[40]",3.39,Katy Perry,"September 5, 2013"
15,16.,"""Counting Stars""[41]",3.35,OneRepublic,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",3.29,Ed Sheeran,"October 7, 2014"
17,18.,"""Wheels on the Bus""[43]",3.18,Cocomelon – Nursery Rhymes,"May 24, 2018"
18,19.,"""Dark Horse""[44]",3.11,Katy Perry,"February 20, 2014"
19,20.,"""Faded""[45]",3.10,Alan Walker,"December 3, 2015"
20,21.,"""Shake It Off""[46]",3.08,Taylor Swift,"August 18, 2014"
21,22.,"""Girls Like You""[47]",3.08,Maroon 5,"May 31, 2018"
22,23.,"""Lean On""[48]",3.07,Major Lazer,"March 22, 2015"
23,24.,"""Bailando""[49]",3.07,Enrique Iglesias,"April 11, 2014"
24,25.,"""Let Her Go""[50]",3.03,Passenger,"July 25, 2012"
25,26.,"""Mi Gente""[51]",2.95,J Balvin,"June 29, 2017"
26,27.,"""Perfect""[52]",2.90,Ed Sheeran,"November 9, 2017"
27,28.,"""Axel F""[53]",2.90,Crazy Frog,"June 16, 2009"
28,29.,"""Waka Waka (This Time for Africa)""[54]",2.89,Shakira,"June 4, 2010"
29,30.,"""Hello""[55]",2.86,Adele,"October 22, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv.
   Url = https://www.bcci.tv/.
   
   You need to find following details:   
   A) Match title (I.e. 1st ODI)  
   B) Series   
   C) Place  
   D) Date   
   E) Time   
   Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [13]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
#get the web page with given url
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(5)

#lets get button for international fixture and click on it
option_btn = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

fixture_btn = driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").click()
time.sleep(5)

#Requred data
Match_title = []
Series = []
Place = []
Date = []
Time = []

#lets fetch match title
for i in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
    Match_title.append(i.text)
    
#fetch Place
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span"):
    Place.append(i.text)
    
#for date and time we need to click on every match title
#get url of every match
match_url = []
urls = driver.find_elements_by_xpath("//div[@class='js-list']//a")
for i in urls:
    match_url.append(i.get_attribute("href"))
    
#fetch Series, date and time from each urls
for i in match_url:
    driver.get(i)
    time.sleep(8)
    #fetching Series
    try:
        series = driver.find_element_by_xpath("/html/body/div[2]/div/div[2]/section[3]/div/ul/li[1]/span[2]")
        Series.append(series.text)
    except NoSuchElementException:
        Series.append('-')
    #fetching dates
    try:
        date = driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']//strong")
        Date.append(date.text)
    except NoSuchElementException:
        Date.append('-')
    
    #fetching time
    try:
        times = driver.find_element_by_xpath("//span[@class='mc-header-scorebox__ist-time']")
        Time.append(times.text)
    except NoSuchElementException:
        Time.append('-')
        
#Creating DataFrame
data = list(zip(Match_title,Series,Place,Date,Time))
df = pd.DataFrame(data, columns = ["Match Title", "Series", "Place", "Date", "Time"])
df

,Match Title,Series,Place,Date,Time
0,3rd T20I,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Thursday 29 July,20:00 IST
1,1st Test,England v India 2021,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
2,2nd Test,England v India 2021,"Lord's, London",Thursday 12 August,15:30 IST
3,3rd Test,England v India 2021,"Headingley, Leeds",Wednesday 25 August,15:30 IST
4,4th Test,England v India 2021,"The Oval, London",Thursday 2 September,15:30 IST
5,5th Test,England v India 2021,"Old Trafford, Manchester",Friday 10 September,15:30 IST

3. Scrape the details of selenium exception from guru99.com.

   Url = https://www.guru99.com/
   
   You need to find following details:   
   A) Name   
   B) Description
   
   Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [56]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
#get the web page with given url
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(5)

#lets go to search bar and search for selenium exception handling
search_bar = driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input")
search_bar.send_keys("selenium exception handling")
button = driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button").click()
time.sleep(3)

#get the url of selenium exception handling page
urls = driver.find_element_by_xpath("//div[@class='gsc-expansionArea']//div//a")
page_url = urls.get_attribute("href")

driver.get(page_url)
time.sleep(5)

#fetching names of exceptions
name = []
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[1]")[1:]:
    name.append(i.text)
    
#fetching descriptions of each exceptions  
description = []
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[2]")[1:]:
    description.append(i.text)
    
#Lets create dataframe
data = list(zip(name, description))
df = pd.DataFrame(data, columns = ["Exception name", "Description"])
df

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.

    Url = http://statisticstimes.com/    
    You have to find following details:    
    A) Rank    
    B) State    
    C) GSDP at current price (19-20)    
    D) GSDP at current price (18-19)   
    E) Share(18-19)    
    F) GDP($ billion)
    
    Note: - From statisticstimes home page you have to reach to economy page through code.

In [105]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
#get the web page with given url
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(5)

#select economy section
eco = driver.find_element_by_xpath("//div[@class='navbar']//div[2]//button").click()

urls = driver.find_element_by_xpath("//div[@class='dropdown-content']//a[3]")
ind_page = urls.get_attribute("href")

driver.get(ind_page)  #go to india economy page
time.sleep(6)

#get the url of page containing GDP of indian states
states_GDP = driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
GDP_url = states_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)

#fetching rank
Rank = []
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[1]"):
    Rank.append(i.text)
    
#fetching state names
State = []
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[2]"):
    State.append(i.text)

# GSDP at current price (19-20)
GSDP_1 = []
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[3]"):
    GSDP_1.append(i.text)
    
# GSDP at current price (18-19)
GSDP_2 = []
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[4]"):
    GSDP_2.append(i.text)
    
#fetch Share(18-19)
Share = []
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[5]"):
    Share.append(i.text)
    
# lets fetch GDP($ billion)
GDP = []
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[6]"):
    GDP.append(i.text)
    
#creating DataFrame
data = list(zip(Rank,State,GSDP_1,GSDP_2,Share,GDP))
df = pd.DataFrame(data, columns = ["Rank","State","GSDP at current price (19-20)","GSDP at current price (18-19)","Share(18-19)","GDP($ billion)"])
df

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5) Scrape the details of trending repositories on Github.com.
   Url = https://github.com/   
       You have to find the following details:   
       A) Repository title   
       B) Repository description   
       C) Contributors count   
       D) Language used
       
  Note: - From the home page you have to click on the trending option from Explore menu through code.

In [3]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
#get the web page with given url
url = "https://github.com/"
driver.get(url)
time.sleep(5)

#getting explore button
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()

#click on trending
trending = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")

urls = trending.get_attribute("href")

driver.get(urls)

#getting url for every repository
rep_urls = []
repository = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    rep_urls.append(i.get_attribute("href"))

#Lets fetch repository title
rep_title = []
title = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
for i in title:
    rep_title.append(i.text)

#fetch other data from every repository page
description = []
Contributors = []
language = []
for i in rep_urls:
    driver.get(i)
    time.sleep(3)
    #fetching decription
    try:
        desc = driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        description.append(desc.text)
    except NoSuchElementException:
        description.append('-')
    #fetching contribution count
    try:
        contri = driver.find_element_by_xpath("//*[contains(text(),'    Contributors ')]")
        Contributors.append(contri.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
    #fetching Languages used
    lang = []
    try:
        for i in driver.find_elements_by_xpath("//span[@class='color-text-primary text-bold mr-1']"):
            lang.append(i.text)
        language.append(lang)
    except NoSuchElementException:
        language.append('-')
        
#creating dataframe
data = list(zip(rep_title,description,Contributors,language))
df = pd.DataFrame(data, columns = [" Repository title","Repository description","Contributors count","Language used"])
df

,Repository title,Repository description,Contributors count,Language used
0,SJang1 / korea-covid-19-remaining-vaccine-macro,잔여백신 조회 및 예약 매크로,10,[Python]
1,bradtraversy / 50projects50days,"50+ mini web projects using HTML, CSS & JS",14,"[CSS, HTML, JavaScript]"
2,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"4,283","[JavaScript, TypeScript, CSS, Shell, HTML, EJS..."
3,bytedance / flutter_ume,UME is an in-app debug kits platform for Flutt...,-,"[Dart, Other]"
4,MoonBegonia / ninja,-,-,"[JavaScript, Vue, HTML, Other]"
5,dataease / dataease,人人可用的开源数据可视化分析工具。,9,"[Java, Vue, PLpgSQL, JavaScript, CSS, HTML, Ot..."
6,fuzhengwei / small-spring,🌱《 Spring 手撸专栏》，本专栏以 Spring 源码学习为目的，通过手写简化版 Sp...,-,[Java]
7,myspaghetti / macos-virtualbox,"Push-button installer of macOS Catalina, Mojav...",20,[Shell]
8,timb-machine / linux-malware,Tracking interesting Linux (and UNIX) malware....,2,[]
9,jwasham / coding-interview-university,A complete computer science study plan to beco...,209,[]
10,ucla-mobility / OpenCDA,A generalized framework for prototyping full-s...,5,"[Python, Shell]"
11,supabase / supabase,The open source Firebase alternative. Follow t...,187,"[TypeScript, JavaScript, CSS, Python, PLpgSQL,..."
12,nvm-sh / nvm,Node Version Manager - POSIX-compliant bash sc...,296,"[Shell, Makefile, Other]"
13,google / googletest,GoogleTest - Google Testing and Mocking Framework,334,"[C++, Python, CMake, C, Starlark, Shell, Makef..."
14,angular / angular,The modern web developer’s platform,"1,444","[TypeScript, JavaScript, Starlark, HTML, CSS, ..."
15,kamranahmedse / developer-roadmap,Roadmap to becoming a web developer in 2021,56,[]
16,521xueweihan / HelloGitHub,分享 GitHub 上有趣、入门级的开源项目,11,[Python]
17,pittcsc / Summer2022-Internships,Collection of Summer 2022 tech internships!,118,[Python]
18,covidpass-org / covidpass,Web app for adding EU Digital COVID Certificat...,11,"[TypeScript, Dockerfile, JavaScript]"
19,microsoft / playwright,"Node.js library to automate Chromium, Firefox ...",136,"[TypeScript, JavaScript, C++, Shell, Objective..."
20,iotexproject / iotex-core,Official implementation of IoTeX blockchain pr...,57,"[Go, Solidity, Other]"
21,axios / axios,Promise based HTTP client for the browser and ...,273,"[JavaScript, TypeScript, HTML]"
22,flutter / flutter,Flutter makes it easy and fast to build beauti...,894,"[Dart, Java, Objective-C, C++, Shell, CMake, O..."
23,tailscale / tailscale,"The easiest, most secure way to use WireGuard ...",61,"[Go, Shell, HTML, CSS, C, Nix, Other]"
24,erda-project / erda,An enterprise-grade Cloud-Native application p...,34,"[Go, Other]"

6. Scrape the details of top 100 songs on billboard.com.
    Url = https://www.billboard.com/    
    You have to find the following details:    
    A) Song name    
    B) Artist name    
    C) Last week rank    
    D) Peak rank    
    E) Weeks on board
    
    Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [31]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
#get the web page with given url
url = " https://www.billboard.com/"
driver.get(url)
time.sleep(5)

#click on chart
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]").click()

#get link for hot 100 page
urls = driver.find_element_by_xpath("//div[@class='charts-landing first-group']//div//a")
page_url = urls.get_attribute("href")

driver.get(page_url)
time.sleep(4)

#lets fetch required data from the page

#fetching song names
name = []
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    name.append(i.text)
    
#fetching artist names
artist = []
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    artist.append(i.text)
    
#fetching last week ranks
last_week_rank = []
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    last_week_rank.append(i.text)
    
#lets fetch peak rank
peak_rank = []
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peak_rank.append(i.text)
    
#fetching weeks on board
weeks_on_board = []
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    weeks_on_board.append(i.text)
    
#creating dataframe
data = list(zip(name,artist,last_week_rank,peak_rank,weeks_on_board))
df = pd.DataFrame(data, columns = ["Song name","Artist name","Last Week Rank","Peak Rank","Weeks on Board"])
df

,Song name,Artist name,Last Week Rank,Peak Rank,Weeks on Board
0,Butter,BTS,7,1,9
1,Good 4 U,Olivia Rodrigo,2,1,10
2,Levitating,Dua Lipa Featuring DaBaby,4,2,42
3,Stay,The Kid LAROI & Justin Bieber,3,3,2
4,Kiss Me More,Doja Cat Featuring SZA,5,3,15
...,...,...,...,...,...
95,Build A Bitch,Bella Poarch,84,56,10
96,30,Pop Smoke Featuring Bizzy Banks,-,97,1
97,You Should Probably Leave,Chris Stapleton,91,90,3
98,"Jealousy, Jealousy",Olivia Rodrigo,87,24,9
99,Cold Beer Calling My Name,Jameson Rodgers Featuring Luke Combs,95,95,3

7. Scrape the details of Data science recruiters from naukri.com.
   Url = https://www.naukri.com/   
   You have to find the following details:   
    A) Name    
    B) Designation    
    C) Company    
    D) Skills they hire for    
    E) Location    
    Note: - From naukri.com homepage click on the recruiters option and then on the search pane     type Data science and click on search. All this should be done through code

In [2]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
#get the web page with given url
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(3)

recruiter = driver.find_element_by_xpath("//a[@title='Search Recruiters']")    #fetching the url for recruiters page
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

search = driver.find_element_by_xpath("//div[@class='inpWrap']//input")   #geting search bar
search.send_keys("Data science ")            #entering inputs

button = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()     #click on search button
time.sleep(4)

#lets define lists
name = []
designation = []
company = []
skills = []
location = []
#fetching Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    name.append(i.text)
time.sleep(1)
    
#fetching Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    designation.append(i.text)
time.sleep(1)

#fetching company name
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]"):
    company.append(i.text)
time.sleep(1)
    
#fetching  Skills they hire for   
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        skills.append(i.text)
    except NoSuchElementException:
        skills.append('-')
    time.sleep(2)
                
#fetching locations
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]//span"):
    location.append(i.text)
time.sleep(1)
    
#creating a dataframe
data = list(zip(name,designation,company,skills,location))
df = pd.DataFrame(data, columns = ["Name", "Designation","Company Name","Skills they hire for","Location"])
df

,Name,Designation,Company Name,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Anik Agrawal
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Company Recruiter
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Ahmedabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",subhas patel
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Founder CEO
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",UK - (london)
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Abhishek - Only Analytics Hiring - India and
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Recruitment Lead Consultant
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Vadodara / Baroda
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Institute for Financial Management and Resear
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Programme Manager
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Chennai
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Balu Ramesh
22,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",HR Administrator
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Trivandrum
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Asif Lucknowi
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Director
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Indore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",InstaFinancials
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Human Resource
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Priyanka Akiri
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",HR Manager
32,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad
33,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Kalpana Dumpala
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Executive Hiring
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Hyderabad / Secunderabad
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Mubarak
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Company HR
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Bengaluru / Bangalore
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Kushal Rastogi
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Company HR
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Ruchi Dhote
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Senior Executive Talent Acquisition
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Pune
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Mahesh Babu Channa
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",HR Team Lead
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Hyderabad / Secunderabad
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Kapil Devang
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",HR Manager

8. Scrape the details of Highest selling novels.

   Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
   
   You have to find the following details:   
   A) Book name   
   B) Author name   
   C) Volumes sold   
   D) Publisher   
   E) Genre

In [18]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
#get the web page with given url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(3)

#lets define our lists for required data
book_name = []
author = []
volumes_sold = []
publisher = []
genre = []

#fetching book names
for i in driver.find_elements_by_xpath("//tbody//tr/td[2]"):
    book_name.append(i.text)

#fetching author names
for i in driver.find_elements_by_xpath("//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        author.append(i.text)
    except NoSuchElementException:
        author.append('-')
time.sleep(1)

#fetching volume sold
for i in driver.find_elements_by_xpath("//tbody/tr/td[4]"):
    volumes_sold.append(i.text)

#fetching publisher names
for i in driver.find_elements_by_xpath("//tbody/tr/td[5]"):
    publisher.append(i.text)
    
#fetching genre
for i in driver.find_elements_by_xpath("//tbody/tr/td[6]"):
    genre.append(i.text)
    
#creating dataframe
data = list(zip(book_name,author,volumes_sold,publisher,genre))
df = pd.DataFrame(data, columns = ["Book Name","Author Name","Volumes sold","Publisher","Genre"])
df

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.

   Url = https://www.imdb.com/list/ls095964455/   
   You have to find the following details:   
   A) Name   
   B) Year span   
   C) Genre   
   D) Run time   
   E) Ratings   
   F) Votes

In [62]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
#get the web page with given url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(3)

#fetching Names
name = []
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    name.append(i.text)
    
#fetching Year span
year_span = []
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    year_span.append(i.text)

#fetching genre
genre = []
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    genre.append(i.text)
    
#fetching Run time
run_time = []
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    run_time.append(i.text)
    
#fetching Ratings
ratings = []
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    ratings.append(i.text)
    
#fetching votes
votes = []
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]/span[2]"):
    votes.append(i.text)
    
#creating dataframe
data = list(zip(name,year_span,genre,run_time,ratings,votes))
df = pd.DataFrame(data, columns = ["Series Title","Year span","Genre","Run Time","Ratings","Votes"])
df

,Series Title,Year span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,848,285"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"885,813"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"885,783"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,382"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,959"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,044"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,752"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"171,794"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,657"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"195,114"

10. __Details of Datasets from UCI machine learning repositories.__

    Url = https://archive.ics.uci.edu/
    
    You have to find the following details:    
    A) Dataset name    
    B) Data type    
    C) Task    
    D) Attribute type    
    E) No of instances    
    F) No of attribute    
    G) Year    
    Note: - from the home page you have to go to the Show All Dataset page through code.

In [60]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Downloads\chromedriver_win32\chromedriver.exe")
#get the web page with given url
url = " https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(3)

all_dataset = driver.find_element_by_xpath("//tbody[1]//tr/td[2]/span[2]/a")    #find view all dataset button 
page_url = all_dataset.get_attribute("href")               #getting url of page containing all datasets

driver.get(page_url)
time.sleep(5)

all_lst = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")   # view list button
lst_url = all_lst.get_attribute("href")           #getting page url containing list of all datasets
driver.get(lst_url)
time.sleep(5)

ds_url = driver.find_elements_by_xpath("//p[@class='normal']//b/a")    #fetching url for each dataset

urls = []                     #list of all urls for datasets
for i in ds_url:
    urls.append(i.get_attribute("href"))

#lets fetch the required data from every url
data_name = []
data_type = []
attr_type = []
Task = []
instances = []
n_attributes = []
Year = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    #fetching Dataset name
    try: 
        ds_name = driver.find_element_by_xpath("//span[@class='heading']")
        data_name.append(ds_name.text)
    except NoSuchElementException:
        data_name.append('-')
    time.sleep(1)
    #fetching data type
    try:
        dtype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[2]")
        if dtype.text == "N/A": raise NoSuchElementException
        data_type.append(dtype.text)
    except NoSuchElementException:
        data_type.append('-')
    time.sleep(1)
    #fetching Attribute type
    try:
        atype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[2]")
        if atype.text == "N/A": raise NoSuchElementException
        attr_type.append(atype.text)
    except NoSuchElementException:
        attr_type.append('-')
    time.sleep(1)
    #fetching Task
    try:
        task = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(1)
    # fetching No of instances
    try:
        inst = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[4]")
        if inst.text == "N/A": raise NoSuchElementException
        instances.append(inst.text)
    except NoSuchElementException:
        instances.append('-')
    time.sleep(1)
    #fetching No of attribute
    try:
        attr = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[4]")
        if attr.text == "N/A": raise NoSuchElementException
        n_attributes.append(attr.text)
    except NoSuchElementException:
        n_attributes.append('-')
    time.sleep(1)
    #fetching year
    try:
        year = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(1)
    
# lets create dataframe
data = list(zip(data_name,data_type,Task,attr_type,instances,n_attributes,Year))
df = pd.DataFrame(data, columns = ["Dataset Name","Data Type","Task","Attribute Type","Number of Instances","Number of Attributes","Year"])
df

,Dataset Name,Data Type,Task,Attribute Type,Number of Instances,Number of Attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
4,A study of Asian Religious and Biblical Texts ...,"Multivariate, Text","Classification, Clustering",Integer,590,8265,2019
...,...,...,...,...,...,...,...
583,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
584,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
585,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
586,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
587,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990